body {
    background-color: beige;
    background-image: url('./images/sportBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: beige;
    opacity: 0.7;
    z-index: -1;
    pointer-events: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    text-align: center;
    background-color: black;
    color: white
}

.fab-div{
    text-align: right;
}
.fab {
    width: 25%;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6c757d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid #495057;
    transition: background-color 0.3s;
}

.profile-icon:hover {
    background-color: #5a6268;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: white;
    min-width: 250px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 8px;
    padding: 15px;
}

.profile-dropdown.show {
    display: block;
}

.profile-dropdown h5 {
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 10px;
}

.profile-dropdown .profile-info {
    margin-bottom: 10px;
}

.profile-dropdown .profile-info label {
    font-weight: bold;
    color: #495057;
}

.profile-dropdown .profile-info p {
    margin: 5px 0;
    color: #6c757d;
}

.profile-dropdown .btn {
    width: 100%;
    margin-top: 10px;
}
